<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
  <div style="text-align:center">
    <h1>
      Proyecto Autómata - Matemáticas Computacionales
    </h1>
  </div>

  <div class="display">
    <textarea name="" #string  class="textarea" cols="35" rows="2" ngModel="comentario"></textarea>
  </div>

  <div class="display">
    <textarea name="" id="" class="textarea" cols="35" rows="2"> {{this.mensaje}} </textarea>
  </div>

  <div id="botton">
    <button id="magia" (click)="automata(string.value)"> Magia! </button>    
  </div>
  </div>